.navbar {
  background-color: #f9f9f9;
  color: #c7c7cc;
}
.navbar .navbar-brand img {
  float: left;
  height: auto;
  width: 80px;
}
.navbar .navbar-brand span {
  float: left;
  font-weight: 100;
  margin: 3px 5px;
}
.navbar li a.active {
  background: #38b3ce;
  color: #ffffff;
}
body {
  position: relative;
}
.header {
  background: url("../img/trailrunning.jpg") center center;
  background-size: cover;
  min-height: 400px;
  position: relative;
}
.header h1 {
  background: rgba(0, 0, 0, 0.3);
  margin: 2% 3%;
  position: absolute;
  bottom: 20px;
}
.header h1 .one {
  color: #38b3ce;
}
.header h1 .two {
  color: #66be61;
}
.header h1 .three {
  color: #c7c7cc;
}
.footer {
  background: #000000;
  color: #ffffff;
  padding: 10px;
}
.footer a {
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.footer a :hover {
  color: #ffffff;
}
.footer p {
  font-size: 10px;
  padding: 4px 0;
}
.modal .modal-header h4 {
  color: #38b3ce;
}
.modal .modal-header h4 .fa {
  color: #66be61;
}
.btn-primary {
  background: #38b3ce;
  color: #ffffff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.btn-primary:hover {
  background: #ffffff;
  color: #000000;
}
.btn-red {
  background: transparent;
  color: #38b3ce;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.btn-red:hover {
  background: #ff0000;
  color: #ffffff;
}
.btn-edit {
  background: transparent;
  color: #38b3ce;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.btn-edit:hover {
  background: #66be61;
  color: #ffffff;
}
#stories-container {
  background: #f9f9f9;
}
#stories-container h2 {
  color: #38b3ce;
}
#podcast-container {
  background: #000000;
  color: #ffffff;
}
#website-container {
  background: #f9f9f9;
  color: #000000;
}
#website-container h2 {
  color: #38b3ce;
}
.section h2 {
  margin: 6% auto 4% auto;
}
.section ul {
  font-size: 16px;
  margin: 2% 0 8% 0;
}
.table-responsive {
  margin: 3% 0;
}
