.header {
  background: url("../img/trailrunning.jpg") center center;
  background-size: cover;
  min-height: 400px;

  h1 {
    background: fade(@gloo-white, 30%);
    margin: 8% 200px;

    .one {
      color: @gloo-blue;
    }
    .two {
      color: @gloo-green;
    }
    .three {
      color: @gloo-gray;
    }

  }
}

.footer {
  background: @gloo-black;
  color: @gloo-white;
}